@model RegisterVM
@{
    ViewData["Title"] = "Register";
}

<!doctype html>
<html class="no-js" lang="en">

<!-- Mirrored from htmldemo.net/tm/eduhome/eduhome/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 24 Jun 2023 06:57:39 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Eduhome - Educational HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assetsf/img/favicon.png">

    <link rel="stylesheet" href="~/assetsf/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assetsf/css/animate.min.css">
    <link rel="stylesheet" href="~/assetsf/css/meanmenu.css">
    <link rel="stylesheet" href="~/assetsf/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assetsf/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assetsf/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assetsf/css/et-line-icon.css">
    <link rel="stylesheet" href="~/assetsf/css/reset.css">
    <link rel="stylesheet" href="~/assetsf/css/ionicons.min.css">
    <link rel="stylesheet" href="~/assetsf/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/assetsf/css/style.css">
    <link rel="stylesheet" href="~/assetsf/css/responsive.css">
    <script src="~/assetsf/js/vendor/modernizr-3.11.2.min.js"></script>
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Banner Area Start -->
    <div class="banner-area-wrapper">
        <div class="banner-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="banner-content-wrapper">
                            <div class="banner-content">
                                <h2>Register</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area End -->
    <!-- Login start -->
    <div class="login-area pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="login">
                        <div class="login-form-container">
                            <div class="login-text">
                                <h2>Register</h2>
                            </div>
                            <div class="login-form">
                                <form method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div>
                                        <span class="text-danger" asp-validation-for="Fullname"></span>
                                        <input asp-for="Fullname" placeholder="Enter fullname">
                                    </div>
                                    <div>
                                        <span class="text-danger" asp-validation-for="Username"></span>
                                        <input asp-for="Username" placeholder="Enter username">
                                    </div>
                                    <div>
                                        <span class="text-danger" asp-validation-for="Email"></span>
                                        <input asp-for="Email" placeholder="Enter email">
                                    </div>
                                    <div>
                                        <span class="text-danger" asp-validation-for="Password"></span>
                                        <input asp-for="Password" placeholder="Enter password">
                                    </div>
                                    <div>
                                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                        <input asp-for="ConfirmPassword" placeholder="Enter confirmPassword">
                                    </div>
                                    <div class="button-box">
                                        <button type="submit" class="default-btn">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login end -->

    <script src="~/assetsf/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/assetsf/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="~/assetsf/js/bootstrap.bundle.min.js"></script>
    <script src="~/assetsf/js/jquery.meanmenu.js"></script>
    <script src="~/assetsf/js/jquery.magnific-popup.js"></script>
    <script src="~/assetsf/js/ajax-mail.js"></script>
    <script src="~/assetsf/js/owl.carousel.min.js"></script>
    <script src="~/assetsf/js/jquery.mb.YTPlayer.js"></script>
    <script src="~/assetsf/js/jquery.nicescroll.min.js"></script>
    <script src="~/assetsf/js/plugins.js"></script>
    <script src="~/assetsf/js/main.js"></script>

    
    
</body>

<!-- Mirrored from htmldemo.net/tm/eduhome/eduhome/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 24 Jun 2023 06:57:39 GMT -->
</html>


